<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li>{{ site.title }}</li> -->
          <li>
            {% include icon-www.html url="http://imiller.utsc.utoronto.ca" %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

  <div id="content-license">
    <a href="/licenses/">(cc) 2016 Ian Dennis Miller</a><br/>
    This website is not affiliated with GitHub.
  </div>

</footer>

{% include google-analytics.html tracking_id="UA-9121384-4" %}
