<meta property="og:site_name" content="gh-impact"/>
<meta property="og:type" content="website"/>
{% if page.excerpt == null %}
<meta property="og:title" content="gh-impact is a measure of influence on GitHub"/>
<meta property="og:description" content="gh-impact is a measure of influence on GitHub. gh-impact is based upon the stars a project receives: an account has a gh-impact score of n if they have n projects with n stars. Higher gh-impact scores correspond to accounts that have many well-used projects."/>
<meta property="og:url" content="http://www.gh-impact.com"/>
<meta property="og:image" content="https://www.gh-impact.com/media/thumb-big.jpg"/>
{% else %}
<meta property="og:title" content="gh-impact - {{ page.title }}"/>
<meta property="og:description" content="{{ page.excerpt }}"/>
<meta property="og:url" content="http://www.gh-impact.com{{ page.url }}"/>
<meta property="og:image" content="{{ page.image }}"/>
{% endif %}
