<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@iandennismiller" />
<meta name="twitter:title" content="gh-impact is a measure of influence on GitHub" />
<meta name="twitter:description" content="gh-impact is a measure of influence on GitHub. gh-impact is based upon the stars a project receives: an account has a gh-impact score of n if they have n projects with n stars. Higher gh-impact scores correspond to accounts that have many well-used projects." />
<meta name="twitter:image" content="http://www.gh-impact.com/media/thumb-big.jpg" />
