---
layout: default
permalink: /reports/
---

<div class="home">

  <h1 class="page-heading">Reports</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.category == "reports" %}
      <li style="clear: both;">
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div>
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img style="float: left; margin-right: 1em; margin-bottom: 2em;" src="{{post.image}}" width="100">
          </a>
          {{ post.excerpt }}
        </div>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
