#account_name_query {
    font-size: 3em;
    width: 8em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
}

#account_name, #impact_score {
  font-weight: bold;
}

#search_box {
  display: none;
}

#search {
  cursor: pointer;
}

#masked {
    display: none;
    font-size: 1.5em;
}

#brief {
    font-size: 0.5em;
}

#results h3 {
    text-align: center;
    font-size: 2em;
}

#examples {
    margin-top: 2em;
    display: none;
}

#examples ul {
    margin-left: 0;
}

#examples ul li {
    display: inline;
    list-style-type: none;
    padding-right: 1em;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

#content-license {
  text-align: center;
  font-size: 0.7em;
}

.label {
  display: inline-block;
  width: 9em;
}

.leader_login, .leader_gh_impact {
  display: inline-block;
}

.leader_login {
  width: 12em;
}

.leader_gh_impact {
  width: 4em;
}

.leaderboard#individuals {
  float: left;
  padding-right: 2em;
}

#board {
  margin: 0px auto;
  width: 35em;
}

#board li {
  list-style-type: none;
}

#board span {
  margin-bottom: 0.3em;
  border-bottom: 1px dotted;
}

#board ul {
  margin-left: 0;
}

#reports {
  background: rgb(240, 240, 240);
  border: 1px dotted black;
  padding: 1em;
}

.inline_fact {
    margin: 0px auto;
    display: block;
}

@include media-query($on-palm) {
    #account_name_query {
      width: 5em;
    }
}

.wrapper div.home {
  text-align: center;

  #results {
    text-align: left;
  }
}
